

body{
background-color:rgb(24, 41, 190) ;
font-family: 'Courier New', Courier, monospace;
animation: pokazanie 2s ease ;
}
.menuwew{
width: 100vw;
height: 100px;
background-color:rgb(24, 41, 190);
margin: 0;

}
p{
float: left;
width: 40vw;
}
.menu_wew1{
float: left;
background-color:  rgb(53, 160, 26);
color: rgb(51, 255, 0);
width: 10vw;
height: 90px;
text-align: center;
line-height: 80px;
border: solid rgb(53, 160, 26) 0.3vw;
margin-top: 0;
margin-bottom: 0;
text-decoration: none;
animation: menu 2s ease ;
}   
.menu_wew2{
    float: left;
    background-color:rgb(24, 41, 190);
    width: 10vw;
    height: 90px;
    text-align: center;
    line-height: 80px;
    border: solid  rgb(24, 41, 190) 0.3vw;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    color: black;
    animation: menu 2s ease ;
    }
.menu_wew2:hover{
   color: white;
   border-color: rgb(53, 160, 26);
   background-color:  rgb(53, 160, 26);

}
a {
 text-decoration: none;
    color: rgb(51, 255, 0);
}
.akapit{
 margin-top: 2vw;
margin-left: 8vw;
margin-right: 8vw;
background-color:black;
color :rgb(51, 255, 0);
height: 100vw;
border-radius: 8px;
}
.baller{
float: left;
height: 7.43vw;
width: 13.7vw;
}
table{
    border: solid green 3px;
    
}
td{
border: solid green 3px;
}
th{
    border: solid green 3px;
}
.link{
text-decoration: underline;
}
.galeria_css{

box-shadow: none;
border: none black 0px;

}

.link_wew{
margin-left: 4vw;
margin-right: 4vw;
font-size: x-large;
color: black;
font-weight: bold;
}
.menu_wew_div{
    border-radius: 8px;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vw;
 background-color: green;
 height: 3vw;
 text-align: center;
}
.imglew{
    width: 40vw;
     height: 24vw;
      float: right;
       border: solid rgb(51, 255, 0) 6px;
        border-radius: 5px;


}
@keyframes pokazanie {

0%{
    background-color: black;
opacity:0% ;
}
100%{
opacity: 100%;
background-color:rgb(24, 41, 190) ;
}
    
}
@keyframes menu {

0%{
margin-top: -500px;

}
100%{
margin-top:-0px

}

    
}